.h{font-size: 23px;display: inline;}
.p1{ color:brown;font-weight: 600;border: 2px dotted violet;width:max-content;border-radius: 4px;}
.p2{font-size:31px; ;color:crimson;font-weight: 900;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
border: 3px dotted #adff2f;width:max-content;;}
h1{display: flex;justify-content: center;}
#wrapper{display: flex;justify-content: center;}
button {overflow: hidden;background: wheat;
    
}
button:hover {background-color: #adff2f;}
.p4{font-size: 23px;border:1px dotted rebeccapurple ; width: max-content;font-weight: 700;}
.p3{font-size: 20px;color: rgb(238, 68, 12);}
input{height:30px ;color: rgb(150, 119, 71);font-size: larger;font-weight: 600;font-family: cursive;}
h1{color: rgb(123, 50, 157);}
.p2.p1.p3.p4{background: -webkit-linear-gradient(top, #f2f9fe 0%,#d6f0fd 100%); /* Chrome10-25,Safari5.1-6 */}
body{background: -webkit-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Chrome10-25,Safari5.1-6 */}